.header {
    padding: 10px 0;
    
}
.background-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    padding: 103px 0px 104px 0px;
    
}
.background-empty {
background: #FFFFFF;
box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
border-radius: 12px


}
.title {
    font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 35px;
text-align: center;
color: #000000;
padding: 28px 1px; 
}
.name {
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
display: flex;
align-items: center
color: #262626;
padding:27.64px 189.29px 0px 40px ;
}
@media (max-width: 991px) {
    background-position: -150px;
}