.main-parent {
    padding: 20px 0;
    
    

    
}
.background {
    background: #FFFFFF;
box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.25);
border-radius: 12px;
width: 480px;
height: 664px;
position: relative;

}
.title {
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
text-align: center;
color: #000000;
padding-top: 30px;

}
.gram {
    display: flex;
    justify-content: center;
    margin: 20px;
    

    
}
.element {
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 25px;
font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
color: #000000;
padding: 5px 15px;
margin: 0px 15px;

}
.description {
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;
text-indent: 30px;
margin: 22px;
color: #000000;
padding-top: 66px;

}
.price {
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 53px;
color: #000000;
text-align: center;
margin: 18px;

}
div.price sup {
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
vertical-align: revert;
margin: 5px;

}
.button {
    background: #EE3300;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
text-align: center;
    padding: 17px 55px;
    margin: 39px 82.5px;
}
.button-text{
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
display: flex;
color: #FFFFFF;
margin: 0px 30px;
}
.right-parent {
    padding-top: 35px;
}