.main-page .left-child .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.main-page {
    background: pink;
}

#main-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

@media (max-width: 991px) and (min-width: 767px) {
    .main-page {
        background: green;
    }
}

@media (max-width: 767px) {
    .main-page {
        background: gray;
    }
}
