.get-started-now.button {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
    background: linear-gradient(90deg, #6089E8 0%, #7BB2FD 100%);
border-radius: 40px;
width: fit-content;
  padding: 16px 51px;
margin-top: 20px;
}
.main-parent{
padding: 100px 0px; 
}
.question {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #4D81DE;
}
.section-title {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
color: #343434;
}