/*header styles*/
.header {
    padding: 20px 0;
}

.header .menu-items .item {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.header .menu-items .menu-items-align {
    align-items: center;
    display: flex;
    height: 100%;
}

.header .purchase-button {
    background: #FAB8C3;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #5956E9;
    max-width: 208px;
    margin-left: auto;
}

.header .logo {
    display: flex; 
    align-items: center;
   
}


.header .menu-items .item.active {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #5956E9;
}



.main-parent .left-parent {
    position: relative;
}

.title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 0.2px;
    color: #000000;
    z-index: -1;
   
}

.content {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 38px 0 58px 0;
    max-width: 450px;
}

.main-parent .left-parent .button {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #5956E9;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 40px;
    width: fit-content;
}

.main-parent .right-parent .man-with-flowers {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100%;
    z-index:5;;
}

.big-yellow-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.big-blue-circle {
    position: absolute;
    right: 0;
    top: 0;
}
.big-blue-circle2 {
    position: absolute;
    margin-left: 60px;
    }

.relative-element {
    position: relative;
    z-index: 1;
}

.small-yellow-circle {
    position: absolute;
    top: 50px;
}

.pink-small-circle{
    position: relative;
    bottom: 40%;
    left: -5%;
    z-index: -1;
}
.small-pink-circle {
    position: absolute;
    bottom: 40%;
    left: -10%;
    z-index: 1;
    top: 200px
}

.medium-yellow-circle {
    position: absolute;
    right: 0;
}
.title2 {
    font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 36px;
text-align: center;
letter-spacing: 0.1px;
}
.blue-title {
   padding-top: 60px;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: #5956E9;
}

.left-parent-2 {
    display: flex;
    justify-content: flex-end;
}
.left-phone-2 {
    margin-right: auto;
}
.right-parent-2 {
    margin: auto;
    right: auto;
}
.main-parent-3 {
    padding-top: 100px;
}
.left-parent-3 {
    padding-top: 161px;
    padding-left: 61px;

}
.big-blue-3 {
    position: absolute;

    
}
.small-blue-3 {
    position: absolute;
    top: 1800px;
    z-index: 2;
    
}


   .pphone-3{
    position: relative;
   align-content: center;
   }

   .section-3{
    background: linear-gradient(72.77deg, #EDEEF6 11.72%, rgba(237, 238, 246, 0) 98.52%);
    border-radius: 50px;
   }

     .midle-pink-3 {
        position: absolute;
        padding: 20px 250px;

    
     }
     .main-parent-4 {
        padding-top: 150px;
    }
     .left-parent-4 {
        display: flex;
        justify-content: flex-end;
    }
    .right-parent-4 {
        margin: auto;
        right: auto;
    }
    
    .big-blue-4 {
        position: absolute;
    }
    
    .main-parent-5 {
        padding-top: 200px;
    }
    .sections-5 {
        background: #FAB8C5;
border-radius: 50px;
    }
    
    .right-parent-5 {
        display: flex;
        justify-content: flex-end;
    }
    .right-parent-5 .phone-5 {
        margin-top: -209px;
    
    
        }
    .title-5 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #5956E9;
        text-align: left;
        padding-top: 92px;
        padding-left: 115px;
    
    }
   
.button-5 {
    background: #5956E9;
box-shadow: 0px 60px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 17px 55px;
    margin: 55px 140.5px;
}
.text-button-5 {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #F6F6F9;
margin:2px 2px;
}
        .title-6{
            font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #000000;
text-align: center;
    padding-top: 60px;
        }
        
        .sections-6 {
            padding-top: 100px;
        }
        .photo-6 {
            padding-right: 222px;
        }
        .fin-text {
            font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
text-align: center;
letter-spacing: 0.1px;
color: #5C5C5C;
text-align: center;
padding-bottom: 38px;
        }
        @media (max-width: 999px) {
            .Links {display: none;}
            .big-blue-circle { display: none;}
            .big-yellow-circle {display: none;}
            .header .purchase-button {display: none;}
            .header .menu-items .menu-items-align {display: none;}
            .big-blue-circle2 {display: none;}
            .small-yellow-circle {display: none;}
            .big-blue-4 {display: none;}
            .midle-pink-3 {display: none;}
            .small-blue-3 {display: none;}
            .big-blue-3 {display: none;}
            .title-6-1 {display: none;}
            .header .logo {
               display: none;
            }
            
            
       
        }
        @media (max-width: 999px) {
                 .title {font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 47px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #000000;
                    padding-top: 20px;}
                    .mobile-flex{
                        display: flex;
                        flex-flow: column-reverse;
                        padding-top:auto
                        ;
                    }
                  .content {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 38px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #737373;
                    padding: 0px 20px;

                  }
                  .main-parent .right-parent .man-with-flowers {
                    width: 100%;
                    padding-top: 190%;
                }
                .left-parent-3 {
                    padding-top: 0px;
                    padding-left: 0px
                }
                
                  .button {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #5956E9;
                    box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
                    border-radius: 10px;
                    padding: 25px 40px;
                    width: fit-content;
                    margin: auto;
                  }
                  .blue-big-circle2{
                    position: absolute;
                    right: 11px;
                    right: 0px;
                    top: 460px;
                    z-index: -1;
}
                    
                    .header {
                        padding: 40px 0px 8px 10px;
                    }
                    .title2 {
                        font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 36px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;
opacity: 0.8;
padding-top: 100px;
}
.blue-title {
    padding-top: 76px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #5956E9;
    text-align: center;
}
                    
                    .left-phone-2 {
                        width: 100%;
                    }
                    .main-parent-4 {
                        padding-top: 50px;
                    }
                    .title-5{
                        display: none;
                    }
                    .title-5-1 {
                        font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.2px;
color: #5956E9;
padding-top: 58px;
padding-left: 20px;
                    }
                    .sections-5 {
                        border-radius: 0px;
                
                    }
                   
                    .button-5 {
                        display: none;
                    }
                    .right-parent-5 .phone-5 {
                        display: none;
                    }
                    .phone-5-1 {
                    width: 100%;
                    }
                    .sections-5 {
                        background: #FAB8C5;
               
                    }
                    .title-6 {
                       padding-top: 0px;}
                       .photo-6 { align-content: center;
                      padding-right: 0px;
                    width: 100%; }
                    .fin-text { padding-top: 21px;}
                    .menus {
                        padding: 0px 0px 0px 180px;
                    }
                    .small-pink-circle {
                        position: absolute;
width: 58px;
height: 58px;
left: 49px;
z-index: 2;
top: 450px;

                    }
                    .medium-yellow-circle {position: absolute;
                        width: 110px;
                        height: 110px;
                        left: 90px;
                        top: 870px;}
                        .topnav {
                            overflow: hidden;
                            background-color: rgb(255, 255, 255);
                            position: relative;
                          }
                          
                          
                          .topnav #myLinks {
                            display: none;
                          }
                          
                       
                          .topnav a {
                            color: rgb(68, 28, 230);
                            padding: 5px 13px;
                            text-decoration: none;
                            font-size: 22px;
                            display: block;
                            text-align: center;
                          }
                    
                          .active {
                            background-color:white;
                            color: rgb(20, 172, 63);
                          }
                          .fa-bars:before {
                            margin-left: 185px;
                            color: #000000;
                            position: absolute;
                            top: 10px;
                        }
                    


                }  

                    
        

        @media (min-width: 1200px) {
            .blue-big-circle2{
                display: none;
            }
            .phone-5-1{
                display: none;
            }
            .menus {
                display: none;
            }
            .title-5-1 {
                display: none;
            }
          .topnav {display: none}
          .fa-bars:before {display: none;}
                       
            
        }